<div class="slideshow-wrapper">
	<div class="preloader"></div>
		<ul data-orbit>
			<li>
				<%= image_tag('tumblr_lf8ns1wR6w1qa7hrvo1_1280.jpg') %>
			</li>
			<li>
				<%= image_tag('music-is-my-passion-23399-hd-wallpapers.jpg') %>
			</li>
			<li>
				<%= image_tag('i-love-music.jpg') %>
			</li>
		</ul>
</div>

<div class="row modes">
	<div class="large-4 columns">
		<%= image_tag('trophy.svg', class: "iconize", alt: "Tropy") %>
		<h3>Challenge Mode</h3>
		<p>Pick a song, and we'll try to play you one that you like more.</p>
	</div>
	<div class="large-4 columns">
		<%= image_tag('boxing-glove-hi.png', class: "iconize", alt: "Glove") %>
		<h3>Battle Mode <p class="coming-soon">coming soon</p></h3>
		<p>We'll use your recent favorites to construct a tournament. May the best song win.</p>
	</div>
	<div class="large-4 columns">
		<%= image_tag('check-list2.svg', class: "iconize", alt: "List") %>
		<h3>List Mode <p class="coming-soon">coming soon</p></h3>
		<p>Listen to your recent favorites from the Challenge and Battle modes.</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="call-box">
				Choose your favorite song. See how it holds up.
				<div class="pull-right">
					<%= form_for(ChallengeMode.new) do |f| %>
						<%= f.submit "Try it Out", class: "link-box link", id: "" %>
					<% end %>
				</div>
		</div>
	</div>
</div>

<div class="row images-row">
	<div class="large-3 columns">
		<h3>New is Now</h3>
		<p>
		As it's moved from vinyl to CD to flash and to the cloud, music has changed. Let's try something new. Get started with one 
		<%= link_to "click", "#", id: "cm-link", onclick: "$('#new_challenge_mode').submit();" %>.
		</p>
	</div>
	<div class="highlighted-images">
		<div class="large-3 columns">
			<%= image_tag('Vinyl-LP-1024x819web.jpg', alt: "record", class: "featured-image") %>
		</div>
		<div class="hide-for-small">
			<div class="large-3 columns">
				<%= image_tag('12065564351141855711Chrisdesign_CD_DVD.svg.hi.png', alt: "record") %>
			</div>
			<div class="large-3 columns">
				<%= image_tag('usb-flash-drive-icon.jpg', alt: "record") %>
			</div>
		</div>
	</div>
</div>