<div class="slideshow-wrapper">
	<div class="preloader"></div>
		<ul data-orbit>
			<li>
				<%= image_tag('tumblr_lf8ns1wR6w1qa7hrvo1_1280.jpg') %>
			</li>
			<li>
				<%= image_tag('music-is-my-passion-23399-hd-wallpapers.jpg') %>
			</li>
			<li>
				<%= image_tag('i-love-music.jpg') %>
			</li>
		</ul>
</div>

<div class="row modes">
	<div class="large-4 columns">
		<%= image_tag('trophy.svg', class: "iconize", alt: "Tropy") %>
		<h3>Challenge Mode</h3>
		<p>Ut sollicitudin sapien a dapibus mollis. Sed risus urna, porta sed dapibus tempus, vehicula in erat. Maecenas sit amet adipiscing sem.</p>
	</div>
	<div class="large-4 columns">
		<%= image_tag('boxing-glove-hi.png', class: "iconize", alt: "Glove") %>
		<h3>Battle Mode</h3>
		<p>Nulla facilisi. Suspendisse non massa viverra lectus facilisis tempus. Vivamus dui risus, tempor in feugiat at, convallis vel ligula.</p>
	</div>
	<div class="large-4 columns">
		<%= image_tag('check-list2.svg', class: "iconize", alt: "List") %>
		<h3>List Mode</h3>
		<p>Pellentesque gravida aliquam consectetur. Vestibulum congue, metus nec vulputate ornare, odio arcu tempor enim.</p>
	</div>
</div>
<!--
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<div class="row">
				<div class="large-9 columns">
					<h3>Yours</h3>
					<p>Choose your favorite song. See how it holds up.</p>
				</div>
				<div class="large-3 columns">
					<%= link_to "Try it Out", "#", class: "button right" %>
				</div>
			</div>
		</div>
	</div>
</div>
-->
<div class="row">
	<div class="large-12 columns">
		<div class="call-box">
		Choose your favorite song. See how it holds up.
			<div class="pull-right">
				<%= link_to "Try it Out", new_challenge_mode_path, class: "link-box" %>
			</div>
		</div>
	</div>
</div>

<div class="row images-row">
	<div class="large-3 columns">
		<h3>New is Now</h3>
		<p>
		Music has changed. Let's try something new.
		Mauris rutrum ipsum a quam tincidunt, nec faucibus enim hendrerit. Nulla non convallis diam.
		</p>
	</div>
	<div class="highlighted-images">
		<div class="large-3 columns">
			<%= image_tag('Vinyl-LP-1024x819.jpg', alt: "record", class: "featured-image") %>
		</div>
		<div class="large-3 columns">
			<%= image_tag('12065564351141855711Chrisdesign_CD_DVD.svg.hi.png', alt: "record") %>
		</div>
		<div class="large-3 columns">
			<%= image_tag('usb-flash-drive-icon.jpg', alt: "record") %>
		</div>
	</div>
</div>