<div class="row">
	<h1>Challenge Mode</h1>
	<div class="large-6 columns" id: "favorite-area">
		<h1 class="subheader">Favorite</h1>
		<p>
			my last favorite song's title: <%= @favorite.title %><br>
			my last favorite song's artist: <%= @favorite.artist %>
		</p>
	</div>
	<div class="large-6 columns" id: "contender-area">
		<h1 class="subheader">Challenger</h1>
		<p>
			challenger #1: <br>
			title: <%= @challenge_mode.suggestions.first.title %>
			artist: <%= @challenge_mode.suggestions.first.artist %>
		</p>
		<div id="current-challenger-forms">
			<%= render partial: 'shared/make_favorite' %>
			<%= render partial: 'shared/like_song',
				locals: { suggestion: @challenge_mode.suggestions.first } %>
			<%= render partial: 'shared/dislike_song', 
				locals: { suggestion: @challenge_mode.suggestions.first } %>
		</div>
	</div>
	<div class="large-12 columns">
		<div class="large-6 columns">
			<h1 class="subheader">All Challengers</h1>
			<%= render partial: 'challenge_modes/suggestion', collection: @suggestions %>
		</div>
		<div class="large-3 columns">
			<h1 class="subheader">Liked Songs</h1>
			<ul>
				<% current_user.liked_songs.each do |song| %>
					<li>title: <%= song.title %></li>
				<% end %>
			</ul>
		</div>
		<div class="large-3 columns">
			<h1 class="subheader">Disliked Songs</h1>
			<ul>
				<% current_user.disliked_songs.each do |song| %>
					<li>title: <%= song.title %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>