
<div id="test"></div>
<%= render 'challenge_modes/lead_in' %>
<div class="row center" id="reload-div">
	<button id="reload-btn" class="center">Retry</button>
	<p>Song not found, please try again.</p>
</div>
<div class="row">
	<div class="large-6 columns"><%= render 'shared/fav_player' %></div>
	<div class="large-6 columns"><%= render 'shared/player' %></div>
</div>

<div class="row challenge-mode">
	<h1>Challenge Mode</h1>
	<div class="large-6 columns" id="favorite-area">
		<%= render partial: 'challenge_modes/favorite_details' %>
	</div>
	<div class="large-6 columns" id="challenger-area">
		<h1 class="subheader">Challenger</h1>
		<p>
			challenge_mode.current_challenger index:
				<span id="challenger-index">
					<%= @challenge_mode.current_challenger_index %>
				</span><br>
			current challenger: <span class="challenger-title"><%= @current_challenger.title %></span> <br>
			title: <span class="challenger-title"><%= @current_challenger.title %></span>
			artist: <span id="challenger-artist"><%= @current_challenger.artist %></span>
		</p>		
		<div id="current-challenger-forms">
			<div id="favorite-suggestion"></div>
			<span id="make-favorite-form">
				<%= render partial: 'shared/make_favorite',
					locals: { suggestion: @current_challenger } %>
			</span>
			<span id="like-button">
				<%= render partial: 'shared/like_song',
					locals: { suggestion: @current_challenger } %>
			</span>
			<span id="dislike-button">
			<%= render partial: 'shared/dislike_song', 
				locals: { suggestion: @current_challenger } %>
			</span>
		</div>
	</div>
	<div class="large-12 columns">
		<div class="large-6 columns all-challengers-forms">
			<h1 class="subheader">All Challengers</h1>
			<%= render partial: 'challenge_modes/suggestion', collection: @suggestions %>
		</div>
		<div class="large-3 columns" id="liked-songs-list">
			<%= render 'liked_songs_list' %>
		</div>
		<div class="large-3 columns" id="disliked-songs-list">
			<%= render 'disliked_songs_list' %>
		</div>
	</div>
</div>

<script src="//www.rdio.com/api/api.js?helper=/helper.html&client_id=GioPadzhkfTNmOeI6dqi8Q"></script>